body{
font-family:Arial;
margin:0;
padding:10px;
background:#f4f4f4;
}

.ski{
display:inline-block;
padding:10px;
margin:5px;
background:#ddd;
cursor:pointer;
}

table{
width:100%;
border-collapse:collapse;
}

td,th{
border:1px solid #ccc;
padding:8px;
text-align:center;
}

.free{
background:#4caf50;
color:white;
}

.booked{
background:#f44336;
color:white;
}
